h1 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: xx-large;
}
table {
  border-collapse: collapse;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #333;
}

th {
  background-color: #f2d91d;
  color: #333;
  font-weight: bold;
  padding: 8px;
  text-align: left;
  text-transform: uppercase;
}

td {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) td {
  background-color: #fff;
}

tr:hover td {
  background-color: #eee;
}

#pokemons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pokemons li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  font-size: 16px;
  line-height: 1.5;
}

#pokemons li img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#pokemons li button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f2d91d;
  color: #333;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

table td img {
  max-width: 100%;
  height: auto;
}

/* Styling for showModal popup */
#pokemondetails {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #00000080;
  color: #000;
  font-family: 'Pokemon', sans-serif;
  font-size: 16px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-height: 70vh;
  overflow-y: auto;
}

#pokemondetails h2 {
  border-bottom: 2px solid #000;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#pokemondetails img {
  display: block;
  margin: 10px auto;
  max-width: 20%;
  max-height: 20%;
}

#pokemondetails li {
  margin-bottom: 10px;
}

#pokemondetails form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#pokemondetails button {
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Pokemon', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
}

#pokemondetails button:hover {
  background-color: #e53935;
}

#pokemondetails button:focus {
  outline: none;
}



/* .modal-body {
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-close {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close:hover {
  color: #f44336;
}

.pokemon-details {
  display: flex;
  flex-wrap: wrap;
  gap:  */